body {
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
	font-size: 24pt;
	text-align: center;
	line-height: 1.5;
	background-color: #000000;
	background-image: url('bg.jpg');
	background-attachment: fixed;
	background-position: 60% 0%;
	background-repeat: no-repeat;
	background-size: cover;
}

a {
	padding: 2px;
	text-decoration: none;
	color: #ffffff;
	border-bottom: 1px solid #ffaa00;
	border-radius: 7px;
}

a:hover {
	border-color: #ffffff;
}

#logo {
	margin: 20px;
	text-decoration: none;
	opacity: 0.8;
}

#logo:hover {
	opacity: 1;
}

#footer {
	margin-top: 50px;
	font-size: 16pt;
}