body {
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
	font-size: 16pt;
	text-align: center;
	line-height: 1.5;
	background-color: #000000;
	background-image: url('bg.png');
	background-attachment: fixed;
}

a {
	padding: 1px;
	text-decoration: none;
	color: #ffffff;
	border-bottom: 1px solid #ffaa00;
	border-radius: 6px;
}

a:hover {
	border-color: #ffffff;
}